@page
@model WebAppRazorClient.Pages.Course.IndexModel
@{
    ViewData["Title"] = "Courses";
}
<h1>Courses</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <a class="btn btn-primary mb-2" asp-page="Create">Add New Course</a>
}
else
{
    <a class="btn btn-primary mb-2" asp-area="Identity" asp-page="/Account/Login">Add New Course</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Credits</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>@course.Title</td>
            <td>@course.Credits</td>
            <td>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-page="Edit" asp-route-id="@course.CourseId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@course.CourseId" class="btn btn-sm btn-danger">Delete</a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-danger">Delete</a>
                }

                <a asp-page="Details" asp-route-id="@course.CourseId" class="btn btn-sm btn-info">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>